<div class="row">
  <div class="container">
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <div class="row ">
        <div class="col-xs-12 btn-group" role="group">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!productForm.valid"> Save</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()"> Cancel</button>
        </div>
      </div>
      <div class="row ">
        <div class="col-xs-12">
          <div class="from-group">
            <label for="name">Name</label>
            <input
              type="text"
              id="name"
              formControlName="name"
              class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="from-group">
            <label for="imagepath">Image URl</label>
            <input
              type="text"
              id="imagepath"
              formControlName="imagePath"
              class="form-control"
              #imagepath>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img [src]="imagepath.value" class="img-fluid">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="from-group">
            <label for="description">Description</label>
            <textarea
              type="text"
              id="description"
              class="form-control"
              formControlName="description"
              rows="6"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" formArrayName="compositions">
          <div class="row"
               *ngFor="let cmpcontrol of productForm.get('compositions').controls; let i = index"
               [formGroupName]="i"
                style="margin-top: 10px">
            <div class="col-xs-8"  style="margin-right: 10px">
              <input
                type="text"
                class="form-control"
                formControlName="name"
               >
            </div>
            <div class="col-xs-2"  style="margin-right: 10px">
              <input
                type="number"
                class="form-control"
                formControlName="amout">
            </div>
            <div class="col-xs-2">
             <button
               type="button"
               class="btn btn-danger" (click)="onDeleteCmp(i)">X</button>
            </div>
          </div>
          <div class="row col-xs-12" style="margin-top: 10px">
            <button
              type="button"
              class="btn btn-info"
              (click)="onAddCmps()">Add composition</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
