<div class="row">
  <div class="col-xs-10">
    <app-composition-edit></app-composition-edit>
    <hr>
    <h2>Search by name and amount</h2>
    <form class="form-inline my-2 my-lg-0"
          (ngSubmit)="onsearchh(f)" #f="ngForm">
      <input class="form-control mr-sm-2"
             type="text"
             id="name"
             placeholder="name"
             aria-label="Search"
             name="name"
             ngModel
             required
      >
      <input class="form-control mr-sm-2"
             type="number"
             placeholder="amount"
             aria-label="Search"
             name="amount"
             ngModel
             pattern="^[1-9]+[0-9]*$"
      >
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit"
              [disabled]="!f.valid">Search</button>
    </form>

    <hr>
    <ul class="list-group">

         <a
        class="list-group-item"

        *ngFor="let composition of compositions; let i = index "
      >
        {{ composition.name }} ({{ composition.amout }})
      </a>
    </ul>
  </div>
</div>
