<div class="row">
  <div class="col-xs-12">
    <img
      [src]="product.imagePath"
      alt="{{ product.name }}"
      class="img-responsive"
      style="max-height: 300px;">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ product.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="btn-group" role="group" aria-label="Basic example">
    <button class="btn btn-success" (click)="onAddCmp()" style="cursor: pointer;" >To composition</button>
    <button type="button" class="btn btn-danger" (click)="onEditProd()" >Edit Product</button>
    <button type="button" class="btn btn-warning" (click)="onDeleteProd()">Delete Recipe</button>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    {{ product.description }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item"
          *ngFor="let composition of product.compositions">
        {{ composition.name}} - {{composition.amout}}
      </li>
    </ul>
  </div>
</div>
